/* styles.css */
body{
	background-color: #ede1a6;
	font-family: Helvetica, Arial, sans-serif;
	
}
.backgroundImage{
    width: 400px;
    height: 400px;

    display: block;
    margin: 60px auto;   /* THIS centers it */

    background-image: url("../img/images.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

h1{
	color:black;
	font-size: 48px;
	text-align: center;
}
.text{
	width: 50%;
	margin: 20px auto;
}
.text *{
	display: inline-block;
	width: 48%;
	margin: 0;
	padding: 0;
	vertical-align: middle;
}
h2{
	color:dodgerblue;
	font-size: 40px;
	text-align: left;
}
h3{
	font-size: 20px;
	text-align: right;
}
h3 a:link,
h3 a:visited {
	color: dodgerblue;
	text-decoration: none;
}
h3 a:hover {
	color: white;
}
.body{
	font-family: Arial, Helvetica, sans-serif;
}