body {
    background-color: #e7c1e1;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* IMAGE BOX */
.backgroundImage {
  width: 400px;
  height: 400px;
  margin: 60px auto;

  background-image: url("../img/images.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.backgroundImage:hover {
  background-image: url("../img/multiples.png");
  cursor: pointer;
}
/* TITLE */
h1 {
    color: black;
    font-size: 48px;
    text-align: center;
}

/* TEXT ROW */
.text {
    width: 50%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    color: rgb(59, 8, 100);
    font-size: 40px;
    margin: 0;
}

h3 {
    font-size: 20px;
    margin: 0;
}

h3 a {
    color: rgb(59, 8, 100);
    text-decoration: none;
}

h3 a:hover {
    color: white;
}